.a2{
	text-align: right;
	padding-bottom: 20px;
}

.a2 select{
	height:27px;
	vertical-align:top;
}

.a3{
	text-align: center;
	border-bottom: none;
}

table {
	width: 100%;
	border-collapse: collapse;
}

th, td {
    border-bottom: 1px solid #cccccc;
    padding: 10px;
}

th:first-child {
	border-top: 2px solid #cccccc;
}

input {
	height:27px;
	font-size: 0.8rem;
	vertical-align:top;
}